<div class="inset"></div>
<div layout="row" layout-xs="column" flex="90" flex-offset="5">

   <section flex="60" flex-xs="100">
        <!-- Content -->
        <md-card class="md-whiteframe-3dp">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"><h1>Seja bem-vindo ao Varrer!</h1></span>
                    <span class="md-subhead">O seu Gerenciador de Reponsáveis pela limpeza</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div>
                    <p>O varrer é uma aplicação que permite o gerenciamento de tarefas de limpeza de forma fácil e prática. </p>
                </div>
            </md-card-content>
        </md-card>
    </section>

    <section flex="40" flex-xs="100">

        <!-- LOGIN -->
        <md-card ng-show="homeVm.isAction('login')" class="md-whiteframe-3dp">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Login</span>
                    <span class="md-subhead">Faça login para usar o gerenciador</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout-align="space-between">

                <!-- Form -->
                <form name="loginForm"
                   ng-controller="SignController as signVm"
                   ng-submit="signVm.login(login, 'loginForm', homeVm.userLogged)">
                    <div layout-gt-sm="row" layout="column">

                        <!-- Login -->
                        <md-input-container class="md-block" flex="50">
                            <label>Usúario</label>
                            <input type="text" name="login" ng-model="login.username" required>
                        </md-input-container>

                        <!-- Password -->
                        <md-input-container class="md-block" flex="50">
                            <label>Senha</label>
                            <input type="password" name="password" ng-model="login.password" required>
                        </md-input-container>
                    </div>

                    <!-- Button -->
                    <md-card-actions flex="100" layout="row">
                        <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-accent">
                            Login
                        </md-button>
                    </md-card-actions>
                </form>
                <br/>
                <md-divider></md-divider>

                <!-- SingIn -->
                <md-card-actions flex="100" layout="row">
                    <p>Ainda não tem uma conta? <a class="md-primary pointer" ng-click="homeVm.setAction('singup')">Cadastre a sua turma agora!</a></p>
                </md-card-actions>
            </md-card-content>
        </md-card>

        <!-- SIGNIN -->
        <md-card ng-show="homeVm.isAction('singup')" class="md-whiteframe-3dp">

            <!-- Form -->
            <form name="signinForm"
               ng-controller="SignController as signVm"
               ng-submit="signVm.create(signin, 'signinForm',homeVm.userCreated)">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Cadastre sua turma</span>
                        <span class="md-subhead">Faça o cadastro da sua turma!</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout-align="space-between">
                    <div layout="column">

                        <!-- UserName -->
                        <md-input-container class="md-block">
                            <label>Login</label>
                            <input ng-model="signin.username" maxlength="20" ng-maxlength="20" ng-minlength="2" username ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0}}" name="username" required>
                            <div ng-messages="signinForm.username.$error">
                                <div ng-message="required">Este campo é obrigatório.</div>
                                <div ng-message="minlength, maxlength">O login deve conter de 2 a 20 caracteres.</div>
                                <div ng-message="username">Esse login já está em uso.</div>
                            </div>
                        </md-input-container>

                        <div layout="column" layout-gt-sm="row">

                            <!-- password -->
                            <md-input-container class="md-block" flex="50">
                                <label>Senha</label>
                                <input type="password" ng-model="signin.password" maxlength="20" ng-maxlength="20" ng-minlength="6" name="password" required>
                                <div ng-messages="signinForm.password.$error">
                                    <div ng-message="required">Este campo é obrigatório.</div>
                                    <div ng-message="minlength, maxlength">A senha deve conter de 6 e 20 caracteres.</div>
                                </div>
                            </md-input-container>

                            <!-- passwordRepeat -->
                            <md-input-container class="md-block" flex="50">
                                <label>Repita a senha</label>
                                <input type="password" password-check="signin.password" ng-model="signin.passwordRepeat" name="passwordRepeat" required>
                                <div ng-messages="signinForm.passwordRepeat.$error">
                                    <div ng-message="required">Este campo é obrigatório.</div>
                                    <div ng-message="passwordCheck">As senhas precisam coincidir.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>

                    <!-- Button -->
                    <md-card-actions flex="100" layout="row">
                        <md-button class="md-raised md-accent" type="submit"
                           ng-click="homeVm.userCreate(homeVm.signin)"
                           ng-disabled="signinForm.$invalid">
                            Cadastro
                        </md-button>
                    </md-card-actions>

                    <br/>
                    <md-divider></md-divider>
                    <!-- LogIn -->
                    <md-card-actions flex="100" layout="row">
                        <p>Já possuí conta? <a class="md-primary pointer" ng-click="homeVm.setAction('login')">Faça o login!</a></p>
                    </md-card-actions>
                </md-card-content>
            </form>
        </md-card>

    </section>
</div>
