$loadingSpinnerOffset: 187;
$loadingSpinnerDuration: 1.4s;
.loading-spinner {
    animation: rotator $loadingSpinnerDuration linear infinite;
    .path {
        stroke-dasharray: $loadingSpinnerOffset;
        stroke-dashoffset: 0;
        stroke: #4285F4;
        transform-origin: center;
        animation: dash $loadingSpinnerDuration ease-in-out infinite, colors ($loadingSpinnerDuration*4) ease-in-out infinite;
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: $loadingSpinnerOffset;
    }
    50% {
        stroke-dashoffset: $loadingSpinnerOffset/4;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: $loadingSpinnerOffset;
        transform: rotate(450deg);
    }
}
