RewriteEngine On

RewriteRule ^users/checkAvailability/(.*)$  index.php?controller=user&action=checkAvailability&username=$1 [NC]
RewriteRule ^login$  index.php?controller=user&action=login [NC]
RewriteRule ^users$  index.php?controller=user [NC]
