<md-dialog flex="60" class="basic-template-dialog" aria-label="List dialog">
    <form ng-submit="vm.editStudants(vm.studants, vm.callbackEditStudant)" ng-init="vm.studantEdit = {}">
        <md-dialog-content>
            <md-list>
                <md-list-item ng-repeat="studant in vm.studants">
                    <md-input-container class="md-block" flex="50">
                        <label>{{::studant.name}}</label>
                        <input ng-model="studant.name">
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>Vezes</label>
                        <input ng-model="studant.times">
                    </md-input-container>
                </md-list-item>
            </md-list>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-warn" ng-click="vm.close()">
                Cancelar
            </md-button>
            <md-button type="submit" class="md-primary">
                Concluido
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
