<div class="inset"></div>
<div layout="row" layout-xs="column" flex="80" flex-offset="10">

    <section flex="100" flex-xs="100">
        <!-- Content -->
        <md-card class="md-whiteframe-3dp content">
            <md-card-title>

                <!-- Header -->
                <md-card-title-text>
                    <div layout="row" layout-align="center center">
                        <div flex="grow">
                            <span class="md-headline">
                                <h1>{{vm.className}}</h1>
                            </span>
                        </div>
                        <div flex="auto">
                            <md-button flex="100" class="md-raised md-warn" ng-controller="SignController as signVm" ng-click="signVm.logout(vm.exit)">Sair</md-button>
                        </div>
                    </div>
                </md-card-title-text>

            </md-card-title>
            <md-card-content>

                <!-- Sweep -->
                <section flex="90" flex-offset="5">
                    <h2>Quem vai varrer?</h2>
                    <div flex="80" flex-offset="10">
                        <div layout="row" layout-align="start center">
                            <div flex="grow">
                                <div layout="row">
                                    <md-input-container flex="50">
                                        <label>Alunos</label>
                                        <md-select ng-model="swepper[0]">
                                            <md-option ng-selected="$index == 0" ng-if="vm.notSelected(swepper[1], studant)" ng-repeat="studant in vm.studants" ng-value="studant">
                                                {{studant.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="50">
                                        <label>Alunos</label>
                                        <md-select ng-model="swepper[1]">
                                            <md-option ng-selected="$index == 1" ng-if="vm.notSelected(swepper[0], studant)" ng-repeat="studant in vm.studants" ng-value="studant">
                                                {{studant.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div flex="auto">
                                <md-button ng-click="vm.sweep(swepper)" class="md-raised md-primary">Varrer</md-button>
                            </div>
                        </div>
                    </div>
                </section>

                <section flex="90" flex-offset="5">
                    <h2>Alunos</h2>
                    <div>
                        <md-button class="md-raised md-accent" ng-click="vm.newStudantDialog($event)">Novo</md-button>
                        <md-button class="md-raised md-primary"
                            ng-if="vm.someoneStudant(vm.selectedStudantes)"
                            ng-click="vm.editStudantDialog($event, vm.selectedStudantes, vm.editStudants)">Editar</md-button>
                        <md-button class="md-raised md-warn"
                            ng-if="vm.someoneStudant(vm.selectedStudantes)"
                            ng-click="vm.removeStudant(vm.selectedStudantes)">Excluir</md-button>
                    </div>
                    <br>
                    <div flex="90" flex-offset="5">
                        <md-input-container class="md-block">
                            <label>Busca</label>
                            <input ng-model="vm.searchStudant">
                        </md-input-container>
                    </div>
                    <div>
                        <md-list-item>
                            <md-checkbox ng-click="vm.toggleSelecteds(vm.selectedStudantes, allSelecteds)" ng-model="allSelecteds"></md-checkbox>
                            <p><strong>Alunos</strong></p>
                            <p class="text-right"><strong>Varreu</strong></p>
                        </md-list-item>
                        <md-list-item ng-repeat="studant in vm.studants | filter:vm.searchStudant track by studant.id ">
                            <md-checkbox ng-model="vm.selectedStudantes[$index]"></md-checkbox>
                            <p flex="75">{{studant.name}}</p>
                            <p flex="25" class="text-right">{{studant.times}}</p>
                        </md-list-item>
                    </div>
                </section>

            </md-card-content>
        </md-card>
    </section>
</div>
